.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  h1 {
    text-align: center;
  }
  
  h6 {
    text-align: center;
  }
  
          table,
          th,
          td {
              border: 2px solid black;
              border-collapse: collapse;
          }
          th, td {
    padding: 10px;}
    
    table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  
          aside {
              width: 30%;
              padding-left: 30px;
              margin-left: 30px;
              float: right;
              font-style: italic;
              background-color: tan;
          }
          